<header>
  <div class="logo-container center-line">
    <h1 class="logo-text">
      <a href="/">ImplantLABS</a>
    </h1>
  </div>
  <div class="nav-links">
    <a href="/exit">Salir</a>
  </div>
</header>

<div class="container">
  <main>
    <section>
      <h2>Descargar data-db</h2>
      <form method="POST" action="download-db">
        <button type="submit">Descargar</button>
      </form>
    </section>
  </main>
</div>
